$not_os_win: "html:not(.os_win)";

$color_primary: #fff100;
$color_secondary: #542e90;
$color_gray: #575756;
$color_white: #ffffff;
$color_red: #f11133;
$color_light-gray: #f3f4f6;
$color_dark-gray: #575756;
$color_black: #000;
$color_border: #d9d9d9;
